
# Needed only for PC (already installed on Colab)

# NOTE : on PC, You need to install PyTorch_CUDA, not torch !


#****  GUI  ****

ipywidgets
wxPython

# Kept in case of Colab policy change for using GUI
# and we need back to old "stdout" redirection
#
# tqdm

#****  Audio  ****

soundfile
librosa

#****  Inference  ****

numpy
scipy < 1.23.0

#****  Utils  ****

regex
requests
