
# Needed for both PC and Colab (missing packages)

# NOTE : PyTorch_CUDA is already installed on Colab !


#****  GUI  ****

configparse

#****  Audio  ****

pydub
resampy

#****  Inference  ****

onnxruntime-gpu

# ONLY for MDX23C models
# ml_collections
# yaml

#****  MP3 Tags (for future use)  ****

# mutagen
