
# Needed for both PC and Colab (missing packages)

# NOTE : PyTorch_CUDA is already installed on Colab !


#****  GUI  ****

configparse

#****  Audio  ****

resampy

#****  Inference  ****

onnxruntime-gpu

# for MDX23C models
ml_collections
PyYAML

#****  MP3 Tags ****

mutagen
