
# Needed only for PC (already installed on Colab)

# NOTE : on PC, You need to install PyTorch_CUDA, not torch !


#****  GUI  ****

ipywidgets

# Kept in case of Colab policy change for using GUI
# and we need back to old "stdout" redirection
#
# tqdm

#****  Audio  ****

soundfile
librosa

#****  Inference  ****

numpy
scipy

#****  Utils  ****

regex
requests
